@model Data.DTOs.EnrollmentProgramResponseDTOWeb

@{
    ViewBag.Title = "training";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<style>
    .imgdiv {
        position: relative;
    }

    .desc {
        position: absolute;
        bottom: 3px;
        right: 15px;
        background-color: #fbfbfb;
        color: white;
        padding-left: 36px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        clip-path: polygon(19% 0, 100% 1%, 100% 100%, 0% 100%);
        box-shadow: -2px -2px 6px 0px #0000009c;
    }

        .desc a {
            text-decoration: none;
        }
</style>
<div class="loader"></div>
<section class="breadcrumb_section bg-img-c" style="background-image: url('../images/breadcrumb-bg1.jpg');">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Enrollment Program</h1>
            <ul class="pull-right">
                <li><a href="#">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Enrollment Program</li>
            </ul>
        </div>
    </div>
</section>
<div class="training_page_section">
    <div class="container">
        <input type="hidden" id="hdfsession" value="@Session["Id"]" />
        <div class="row mt-4">
            @if (Model != null)
            {
                if (Model.lstProgram != null)
                {
                    foreach (var item in Model.lstProgram)
                    {
                        <div class="col-md-3 col-lg-3 col-sm-12 imgdiv">
                            <input type="hidden" value="@item.Id" id="hdfId" />
                            <img class="img-fluid" src="@item.Image" alt="">
                            <div class="desc"><a href="#" target="_blank" class="text-black">@item.Title</a></div>
                            <div class="jobsp">
                                <button type="button" class="btn btn-primary apply" id="btnsubmit">Apply</button>
                                <input type="hidden" value="@item.AppliedUserStatus" id="hdfstatus" />
                            </div>
                        </div>
                        
                    }
                }
            }
                        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var status = $("#hdfstatus").val();
            if (status == "False") {
                $("#btnsubmit").attr("disabled", false);
            }
            else if (status == "True") {
                $("#btnsubmit").attr("disabled", true);
                $("#btnsubmit").text("Already Applied");
            }
            else
            {
                $("#btnsubmit").attr("disabled", false);
            }
        });
        $("#btnsubmit").click(function () {
            var userid = $("#hdfsession").val();
            var userAgent = navigator.userAgent;
            if (userid != null && userid != "") {
                $.ajax({
                    url: "/Home/ApplyEnrollmentProgram",
                    type: "POST",
                    dataType: 'HTML',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { Id: $("#hdfId").val(), UserAgent: userAgent },
                    success: function (data) {
                        debugger;
                        if (data == "1") {
                            alert("Applied Successfully!");
                        }
                        else if (data == "-1") {
                            alert("Already applied!");
                        }
                        else {
                            alert("Not Applied. Please try again.");
                        }
                    },
                    error: {

                    }
                });
            }
            else {
                window.location.href = "/en/Login";
            }
        });
    </script>
}