@model Data.DTOs.UserDTO

@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.png' />
    <title>Afluex Multiservice LLP</title>
    <style>
        input#UserName {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        input#Password {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }


        input#ConfirmPassword {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        input#TemporaryPassword {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }
        ::selection{
            color:#ac173d;
        }
    </style>
</head>

<body class="loginBg">
    <div class="main_login">
        @using (Html.BeginForm("SaveChangePassword", "Account", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-7">
                        <div class="login_inner">
                            <h1 class="text-center">Change Password</h1>
                            <form>
                                <p style="color:red"> @TempData["error"]</p>
                                <div class="form-group loginfor">
                                    <label for="exampleInputEmail1">Temporary Password</label>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    @Html.TextBoxFor(m => m.TemporaryPassword, new { @class = "form-control", @onChange = "return validateTempPassword()" })
                                    @Html.HiddenFor(m => m.MobileNo)
                                    @*<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">*@
                                </div>
                                <div class="form-group pwdfor">
                                    <label for="exampleInputPassword1">New Password</label>
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @onBlur = "return checkPasswordStrength()" })
                                    <div id="password-strength-status"></div>

                                </div>
                                <div class="form-group pwdfor">
                                    <label for="exampleInputPassword1">Confirm Password</label>
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @onChange = "return validateConfPassword();" })

                                </div>
                                <div class="mainloginbt mt-5">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-primary btn-lg btn-block loginbt bg-custom" style="background:#ac173d!important" onclick="return Validateform();">Change Password</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="~/assets/js/rangeslider.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

    <script>
        function Validateform() {
            $(".errortext").removeClass("errortext");

            if ($('#TemporaryPassword').val() == '') {
                $("#TemporaryPassword").addClass('errortext');
                $('#TemporaryPassword').focus();
                return false;
            }
            if ($('#Password').val() == '') {
                $("#Password").addClass('errortext');
                $('#Password').focus();
                return false;
            }
            return true;
        }

        function validateConfPassword() {
          
           
            var password = $('#Password').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            if (password != ConfirmPassword) {
                alert('Password and Confirm Password are different');
                $('#Password').val('');
                $('#ConfirmPassword').val('');
                return false;
            }
        }


        function validateTempPassword() {
            var userAgent = navigator.userAgent;
            var tempPass = $('#TemporaryPassword').val();
            var MobileNo = $('#MobileNo').val();
            $.ajax({
                url: '/Account/ValidateTempPassword',
                type: 'GET',
                dataType: 'JSON',
                data: { 'TemporaryPassword': tempPass, 'MobileNo': MobileNo, 'userAgent': userAgent },
                success: function (data) {
                    if (data.Response == "0") {
                        $("#divload").css({ 'display': 'none' });
                        $("#TemporaryPassword").addClass('errortext');
                        $('#TemporaryPassword').val('');
                        $('#SponsorId').focus();
                        alert(data.Result);
                    }
                }
            })
        }


        function checkPasswordStrength() {
            var number = /([0-9])/;
            var alphabetsC = /([A-Z])/;
            var alphabetsL = /([a-z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if ($('#Password').val().length < 8) {
                alert('Password Weak (should be atleast 8 characters.)');
                $('#Password').val('');
                $('#ConfirmPassword').val('');
                return false;
            } else {
                if ($('#Password').val().match(number) && $('#Password').val().match(alphabetsC) && $('#Password').val().match(alphabetsL) && $('#Password').val().match(special_characters)) {
                    return true;
                } else {
                    alert('Password Weak (Should include one capital alphabet, one small alphabet, numbers and special characters.)');
                    $('#Password').val('');
                    $('#ConfirmPassword').val('');
                    return false;
                }
            }
        }
        $(document).ready(function () {
            $("input:text,form").attr("autocomplete", "off");
        })
    </script>

</body>

</html>
