@model Data.DTOs.ChangePasswordDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .change-password-form {
        margin: 0 auto;
    }
</style>
@using (Html.BeginForm("SaveChangePassword", "Admin", FormMethod.Post, new { @class = "needs-validation", @novalidate = "" }))
{
    <div class="main-content">
        <section class="section">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title m-b-0">Auth</h4>
                </li>
                <li class="breadcrumb-item">
                    <a href="/Admin/Index">
                        <i data-feather="home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">Change Password</li>
            </ul>
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-10 change-password-form">
                        <div class="card">
                            <form class="needs-validation" novalidate="">
                                <div class="card-header">
                                    <h4>Change Password</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Old Password</label>
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @onChange = "return validateOldPassword()" })
                                                @Html.HiddenFor(m => m.MobileNo)  @Html.HiddenFor(m => m.UserAgent)
                                                <div class="invalid-feedback">
                                                    Please Enter Old Password !
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">New Password</label>
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                <div class="invalid-feedback">
                                                    Please Enter New Password !
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Confirm Password</label>
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @onChange = "return validateConfPassword();" })
                                                <div class="invalid-feedback">
                                                    Please Re-Enter New Password !
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer text-left">
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

@section script
{
    <script type="text/javascript">
        function validateConfPassword() {


            var password = $('#Password').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            if (password != ConfirmPassword) {
                iziToast.warning({
                    title: "Alert!",
                    message: "Passwords not matched",
                    position: "topRight",
                });
                $('#Password').val('');
                $('#ConfirmPassword').val('');
                return false;
            }
        }
        function validateOldPassword() {
            var userAgent = navigator.userAgent;
            var Mobile = $('#MobileNo').val();
            var UserAgent = navigator.userAgent;
            var OldPassword = $('#OldPassword').val();
            $.ajax({
                url: '/Admin/ValidateOldPassword',
                type: 'GET',
                dataType: 'JSON',
                data: { 'Mobile': Mobile, 'OldPassword': OldPassword, 'UserAgent': UserAgent },
                success: function (data) {
                    if (data.Response == "0") {
                        $("#divload").css({ 'display': 'none' });
                        $("#OldPassword").addClass('errortext');
                        $('#OldPassword').val('');
                        $('#OldPassword').focus();
                        iziToast.warning({
                            title: "Alert!",
                            message: data.Result,
                            position: "topRight",
                        });
                    }
                }
            })
        }
    </script>
    }

