@model Data.DTOs.ContactListDTO
@{
    ViewBag.Title = "ContactUsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">Reports</h4>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Admin/Index">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Contact Us List</li>
                </ul>
                <div class="section-body">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Contact Us List</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-1">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        S.No.
                                                    </th>
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Message</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lst != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lst)
                                                        {
                                                            <tr>
                                                                <td>@i</td>
                                                                <td>@Item.Name</td>
                                                                <td>@Item.Mobile</td>
                                                                <td>@Item.Email</td>
                                                                <td>@Item.Message</td>
                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
@section css{
}
@section script {
    <script type="text/javascript">
        $("#table-1").dataTable({
            dom: "Bfrtip",
            buttons: ["csv", "excel", "pdf", "print"],
            columnDefs: [{ sortable: false, targets: [2, 3] }],
        });
    </script>
}


