@model Data.DTOs.JobRoleDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("JobRoleMaster", "Admin", FormMethod.Post, new { @class = "needs-validation", @novalidate = "" }))
{
    @Html.HiddenFor(m => m.Id)
<div class="main-content">
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <h4 class="page-title m-b-0">Master</h4>
            </li>
            <li class="breadcrumb-item">
                <a href="/Admin/Index">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Designation</li>
        </ul>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <form class="needs-validation" novalidate="">
                            <div class="card-header">
                                <h4>Designation Master</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Job Role</label>
                                            @Html.TextBoxFor(m=>m.Name,new{@class="form-control", @required="true"})
                                            <div class="invalid-feedback">
                                                Please Enter Designation Name.
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Job Role(In Hindi)</label>
                                            @Html.TextBoxFor(m => m.NameH, new { @class = "form-control hindi", @required = "true" })
                                            <div class="invalid-feedback">
                                                Please Enter Designation Name in Hindi.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.AntiForgeryToken()
                                            <button class="btn btn-primary mr-1" type="submit" id="toaster-2">Submit</button>
                                            <button class="btn btn-dark" type="reset" onclick="reset();">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Designation List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th>
                                                S.No.
                                            </th>
                                            <th>Designation</th>
                                            <th>Designation(In Hindi)</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Block/Unblock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                  @if (Model != null)
                                  {
                                    if (Model.lst != null)
                                    {
                                        int i = 1;
                                        foreach (var item in Model.lst)
                                        {
                                        <tr>
                                            <td>
                                               @i
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.NameH</td>
                                            <td><a href="/Admin/JobRoleMaster?Id=@item.Id" class="btn btn-primary">Edit</a></td>
                                            <td><a href="/Admin/DeleteJobRole?Id=@item.Id" class="btn btn-danger" onclick="deleteRecord(event);">Delete</a></td>
                                            <td>
                                                @if (@item.IsBlocked == false || @item.IsBlocked==null)
                                                {
                                                    <a href="/Admin/BlockJobRole?Id=@item.Id" class="btn btn-dark">Block</a>
                                                }
                                                @if (@item.IsBlocked == true)
                                                {
                                                    <a href="/Admin/UnBlockJobRole?Id=@item.Id" class="btn btn-info">Unlock</a>
                                                }
                                            </td>

                                        </tr>
                                         i++;
                                           }
                                        }
                                      }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</div>
}
@section css{
}
@section script {
      @if (TempData["msg"] == "Saved")
      {
        <script type="text/javascript">
            window.onload = function () {
                iziToast.success({
                    title: "Success!",
                    message: "Data Saved ",
                    position: "topRight",
                });
            };

        </script>
      }
    @if (TempData["msg"] == "Updated")
    {
        <script type="text/javascript">
            window.onload = function () {
                iziToast.success({
                    title: "Success!",
                    message: "Data Updated ",
                    position: "topRight",
                });
            };

        </script>
    }
    <script type="text/javascript">
        function deleteRecord (ev) {
            ev.preventDefault();
            var urlToRedirect = ev.currentTarget.getAttribute('href');
            debugger
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    location.href=urlToRedirect;
                    swal({ title: "Data deleted Successfully",
                        icon: "success"});
                } else {
                    swal("Your record is safe!");
                }
            });
        }
        function reset()
        {
            $("#Name").val('');
            $("#NameH").val('');
        }
        $("#table-1").dataTable({
            dom: "Bfrtip",
            buttons: ["csv", "excel", "pdf", "print"],
            columnDefs: [{ sortable: false, targets: [2, 3] }],
        });
    </script>
    @*@if (TempData["msg"] == "Updated")
        {
            <script type="text/javascript">
                window.onload = function () {
                    iziToast.success({
                        title: "Success!",
                        message: "Data Updated ",
                        position: "topRight",
                    });
                };

            </script>
        }*@
}
