@model Data.DTOs.ChangePasswordDTO

@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <link href="~/assets/css/iziToast.min.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <title>Career Mitra</title>
    <style>
        input#OldPassword {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        input#Password {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }


        input#ConfirmPassword {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }

        input#TemporaryPassword {
            border: 1px solid #f17117;
            height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem 0.5rem 3.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }
    </style>
</head>


<body class="loginBg">
    <div class="main_login">
        @using (Html.BeginForm("SaveChangePassword", "uhi", FormMethod.Post, new { @class = "needs-validation", @novalidate = "" }))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-7">
                        <div class="login_inner">
                            <h1 class="text-center">पासवर्ड बदलें</h1>
                            <form>
                                <p style="color:red"> @TempData["error"]</p>
                                <div class="form-group loginfor">
                                    <label for="exampleInputEmail1">पुराना पासवर्ड</label>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "", @onChange = "return validateOldPassword()" })
                                    @Html.HiddenFor(m => m.MobileNo)  @Html.HiddenFor(m => m.UserAgent)
                                    <div class="invalid-feedback">
                                        कृपया पुराना पासवर्ड डालें !
                                    </div>
                                    @*<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">*@
                                </div>
                                <div class="form-group pwdfor">
                                    <label for="exampleInputPassword1">नया पासवर्ड</label>
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "", @onBlur = "return checkPasswordStrength()" })
                                    <div class="invalid-feedback">
                                        कृपया नया पासवर्ड डालें !
                                    </div>
                                </div>
                                <div class="form-group pwdfor">
                                    <label for="exampleInputPassword1">पासवर्ड कन्फर्म करें</label>
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "" })
                                    <div class="invalid-feedback">
                                        कृपया नया पासवर्ड पुनः डालें !
                                    </div>
                                </div>
                                <div class="mainloginbt mt-5">
                                    @Html.AntiForgeryToken()
                                    <button type="submit"  style="background:#ac173d!important"   class="btn btn-primary btn-lg btn-block bg-custom loginbt" onclick="return validateConfPassword();">पासवर्ड बदलें</button>
                                    <small id="emailHelp" class="form-text text-muted pull-right"><a href="/hi/Index" class="text-decoration-none saffron-text">होम पे जाएँ</a></small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="~/assets/js/rangeslider.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


    <!-- JS Libraies -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/assets/js/page/toastr.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assets/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $("#divload").css({ 'display': 'none' });
            var userAgent = navigator.userAgent;

            $('#UserAgent').val(userAgent);
        });
        function validateConfPassword() {


            var password = $('#Password').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            if (password != ConfirmPassword) {
                iziToast.warning({
                    title: "Alert!",
                    message: "New Password and Confirm Password are different",
                    position: "topRight",
                });
                $('#Password').val('');
                $('#ConfirmPassword').val('');
                return false;
            }
        }


        function validateOldPassword() {
            var userAgent = navigator.userAgent;
            var Mobile = $('#MobileNo').val();
            var UserAgent = navigator.userAgent;
            var OldPassword = $('#OldPassword').val();
            $.ajax({
                url: '/uhi/ValidateOldPassword',
                type: 'GET',
                dataType: 'JSON',
                data: { 'Mobile': Mobile, 'OldPassword': OldPassword, 'UserAgent': UserAgent },
                success: function (data) {
                    if (data.Response == "0") {
                        $("#divload").css({ 'display': 'none' });
                        $("#OldPassword").addClass('errortext');
                        $('#OldPassword').val('');
                        $('#OldPassword').focus();
                        iziToast.warning({
                            title: "Alert!",
                            message: data.Result,
                            position: "topRight",
                        });
                    }
                }
            })
        }


        function checkPasswordStrength() {
            var number = /([0-9])/;
            var alphabetsC = /([A-Z])/;
            var alphabetsL = /([a-z])/;
            var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if ($('#Password').val().length < 8) {
                alert('Password Weak (should be atleast 8 characters.)');
                $('#Password').val('');
                $('#ConfirmPassword').val('');
                return false;
            } else {
                if ($('#Password').val().match(number) && $('#Password').val().match(alphabetsC) && $('#Password').val().match(alphabetsL) && $('#Password').val().match(special_characters)) {
                    return true;
                } else {
                    alert('Password Weak (Should include one capital alphabet, one small alphabet, numbers and special characters.)');
                    $('#Password').val('');
                    $('#ConfirmPassword').val('');
                    return false;
                }
            }
        }
    </script>

</body>

</html>


